
a:link { color:#b1953a; text-decoration:underline; }
a:visited { color:#00b5cc; text-decoration:underline; }
a:hover { color:#b1953a; text-decoration:none; }
a:active { color:#1c3f94; text-decoration:underline; }

body { padding-top:0 !important; background:url("//img/bg-body.jpg") repeat; border-top:#2f2f2f 20px solid; }
	.navbar-inner { padding-top:39px; background-color:transparent; background-image:none; box-shadow:none; }
		.navbar .brand { width:449px; height:71px; margin-right:225px; margin-left:0; padding:0; }
	#social_icons { float:left; padding-top:26px; }
		#social_icons a { position:relative; }
		#subscribe_email { width:35px; height:27px; margin-right:14px; }
		#facebook_icon { width:25px; height:24px; margin-right:19px; }
		#twitter_icon { width:24px; height:24px; margin-right:20px; }
		#youtube_icon { width:t24px; height:24px; }
	#searchform { float:right; padding-top:@verticalSpace; } 
		.search-query { float:left; background:transparent; box-shadow:none; .border-radius(0); border-right:none; }
		#searchsubmit { float:left; .border-radius(0); width:35px; height:28px; margin:0 0 0 -1px; padding:0; font-size:0; line-height:0; text-indent:-9999px; background:url("//img/search-button.png") no-repeat; border-left:none; box-shadow:none; -moz-transition:none;
			&:hover { background-position:0 100%; -moz-transition:none; }
		 }
	#main_nav { clear:both; float:left; width:100%; margin:45px 0 0 0; padding:0; list-style:none; }
		#main_nav li { float:left; position:relative; }
			#main_nav a { padding:10px 10px 18px; font-family: 'Inika', serif; font-size:1.8em; font-weight:normal; color:#d94827; display:block; }
			#main_nav a.parent { padding-bottom:18px; background:url(//img/bg-main-nav-link.png) center bottom no-repeat; }
				#main_nav li ul { width:170px; margin:0; padding:0; list-style:none; position:absolute; top:54px; left:0; visibility:hidden; }
					#main_nav li li { float:none; }
						#main_nav li li a { margin:0; padding:10px 18px; font-size:1.4em; color:#d94827; text-decoration:none; background:#fff; }
						#main_nav li li a:hover { background:#000; color:#fff; }

	.page-header { padding-top:19px; padding-bottom:0; border-bottom:none; }
		.page-header h1 { font-family: 'Inika', serif; font-size:1.6em; color:#d94827; }
	#main p { font-family: 'Open Sans', sans-serif; font-size:1.1em; line-height:20px; }

	.well { background-color:transparent; border:none; }

	footer#content-info { background:url(//img/bg-footer.png) left top repeat-x; border-top:none; }
		footer#content-info div { float:left; width:percentage(100/6/100); }
			footer#content-info h2 { padding-bottom:15px; font-family: 'Inika', serif; font-size:1.6em; }
			footer#content-info ul { margin:0; padding:0; list-style:none; }