
a:link { color:#b1953a; text-decoration:underline; }
a:visited { color:#00b5cc; text-decoration:underline; }
a:hover { color:#b1953a; text-decoration:none; }
a:active { color:#1c3f94; text-decoration:underline; }

body { padding-top:0 !important; background:url("/img/bg-body.jpg") repeat; border-top:#2f2f2f 20px solid; font-family: 'Open Sans', sans-serif; }
	.navbar-inner { padding-top:30px; background-color:transparent; background-image:none; box-shadow:none; position:relative; z-index:2; }
		.navbar .brand { width:555px; height:69px; margin-right:138px; margin-left:0; padding:0; }
	#social_icons { float:left; padding-top:23px; }
		#social_icons a { position:relative; }		
		#subscribe_email { width:35px; height:27px; margin-right:14px; }
		#facebook_icon { width:25px; height:24px; margin-right:19px; }
		#twitter_icon { width:24px; height:24px; margin-right:20px; }
		#youtube_icon { width:24px; height:24px; }
	#searchform { float:right; padding-top:@verticalSpace; }
	.search-query { float:left; background:transparent; box-shadow:none; .border-radius(0); border-right:none; }
		#searchsubmit { float:left; .border-radius(0); width:35px; height:28px; margin:0 0 0 -1px; padding:0; font-size:0; line-height:0; text-indent:-9999px; background:url("/img/search-button.png") no-repeat; border-left:none; box-shadow:none; -moz-transition:none;
			&:hover { background-position:0 100%; -moz-transition:none; }
		 }
		.btn { border-color:#ccc; }

body.page-id-43 {
	text-align: left;
}

.main_nav {
	clear:both;
	float:left;
	width:100%;
	margin:18px 0 0 0;
	padding:0;
	list-style:none;

	li {
		float:left;
		position:relative;
		padding-bottom: 0;

		ul {
			width: 200px;
			margin:0;
			padding:0;
			list-style:none;
			position:absolute;
			top:54px; left:0; 
			visibility:hidden;
		}

		li {
			float:none;

			a {
				margin:0;
				padding:7px 18px;
				font-size:1.3em;
				color:#d94827;
				text-decoration:none;
				background:#fff;

				&:hover {
					background:#000;
					color:#fff;
				}
			}
		}
	}

	.main_nav a:first-child { padding-left:0 !important; }

	a {
		padding: 10px 15px 18px;
		font-family:'Roboto-Bold', serif;  
		font-size: 1.6em;
		font-weight: bold;
		color: #d94827;
		display: block;

		&.parent {
			padding-bottom: 18px;
			background: url(/img/bg-main-nav-link.png) center bottom no-repeat;
		}
	}
}

#tagline { clear:left; float:left; font-family:'Roboto-Regular', serif; font-size:1.9em; font-weight:normal; margin:20px 0 13px; line-height:36px; }
.page-header { padding-top:19px; padding-bottom:0; border-bottom:none; }
	.page-header h1, .entry-title { font-family:'Roboto-Bold', serif; font-size:1.8em; font-weight:bold; color:#5e3f70; }
#main p { font-family: 'Open Sans', sans-serif; font-size:1.1em; line-height:20px; }

.well { background-color:transparent; border:none; }

footer#content-info { 
	background:url(/img/bg-footer.png) left top repeat-x; border-top:none;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		ul {
			a {
				font-size:1.1em;
			}
		}
	}

	li {
		float: left;
		width: percentage(100/6/100);
		text-align: center;

		.caret, .dropdown-menu {
			display: none;
		}
	}

	a {
		padding-bottom: 15px;
		font-family:'Roboto-Bold', serif;  
		font-weight:bold;
		font-size: 1.4em;
		color: #B1953A;
	}
}

@media (max-width: 481px) {
	#tagline {
		margin: 0;
		font-size: 21px;
		line-height: 24px;
	}

	.page-header {
		margin-top: 0;
	}
}