
@font-face {  
	font-family:'Roboto-Bold';  
	src: url(/fonts/Roboto-Bold-webfont.ttf) format("truetype");  
}  
@font-face {  
	font-family:'Roboto-Regular';  
	src: url(/fonts/Roboto-Regular-webfont.ttf) format("truetype");  
} 